#
# .aliases
#
# @author Robert MacCracken
#

# Aliases for exa usage
alias ll='exa -lag --icons'
alias l='exa -a --icons'
alias lfiles='exa -F'
alias llfiles='exa -lF'
alias ldir='exa -d */'
alias lldir='exa -ld */'

# cat replacement
alias cat="bat $@"

# Personal
alias brewcup="brew update && brew upgrade && brew cleanup"
alias gorepo="cd $HOME/Repos/go_projects/src/github.com/MacCracken"
alias repos='cd ~/Repos'